
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 350px;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    margin-bottom: 20px;
    color: #4f46e5;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #4f46e5;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4338ca;
}

a {
    color: #4f46e5;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}



.task-box {
    margin-top: 20px;
    text-align: left;
}

.task-item {
    background: #f3f4f6;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.task-item button {
    width: auto;
    padding: 6px 10px;
    background: #ef4444;
}

task-item button:hover {
    background: #dc2626;
}
